<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <link rel="shortcut icon" href="./img/logo.ico" type="image/x-icon" />
    <!-- link  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js"
      integrity="sha512-5qbIAL4qJ/FSsWfIq5Pd0qbqoZpk5NcUVeAAREV2Li4EKzyJDEGlADHhHOSSCw0tHP7z3Q4hNHJXa81P92borQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- link  -->
    <link rel="stylesheet" href="./css/user.css" />
    <link rel="stylesheet" href="./css/flip-to-square.css" />
    <title>me.io</title>
  </head>
  <body>
    <div
      style="
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #cdcdcd;
        z-index: 100;
        transition: all 3s;
      "
      class="loader"
    >
      <div class="flip">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- loader end  -->
    <header>
      <img src="./img/text-me.io.png" alt="" />
      <h1>Edit name and description</h1>
    </header>
    <main>
      <nav>
        <ol>
          <li>
            <a href="/api"><i class="fa-solid fa-link"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-solid fa-database"></i></a>
          </li>
          <li>
            <a class="active" href="#"><i class="fa-solid fa-pen-to-square"></i></a>
          </li>
          <li>
            <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></i></a>
          </li>
        </ol>
      </nav>
      <div class="main-content">
          <form action="/" method="post">
        <!-- all data gose heare  -->
        <div class="show-data">
            <div class="titel">
                <h1>data</h1>
            </div>
            <!-- nahid  -->
            <div class="s-data">
                <div class="header">
                    <h1>name</h1>
                </div>
                <div class="show-body">
                    <div class="data-input">
                        <input value="nahid hasan sagar" type="text">
                    </div>
                    
                </div>
                <div class="header">
                    <h1>description</h1>
                </div>
                <div class="show-body">
                    <div class="data-input">
                        <textarea name="" id="" value="'naidhasansagar" cols="30" rows="10">klasfdjlkasj jkljasd f;kjjfa;lksjdfkl klasjdfkl;j</textarea>
                    </div>
                </div>
                <div class="titel">
                    <button type="submit">update</button>
                </div>
            </div>
        </form>
        <!-- end  -->
      </div>
    </main>
    
    <script src="./js/loader.js"></script>
  </body>
</html>
