<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" href="./img/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./css/flip-to-square.css" />
    <title>me.io</title>
  </head>
  <body>
    <div
      style="
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #cdcdcd;
        z-index: 100;
        transition: all 3s;
      "
      class="loader"
    >
      <div class="flip">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- loader end  -->
    <section id="authentications">
      <div id="auth-body">
        <img src="/img/logo-taxt.png" alt="ME.oi logo" />

        <form method="post" id="auth-font" action="login">
          <input
            type="text"
            placeholder="User Name"
            class="userName auth-btn"
            name="username"
          />
          <input
            type="text"
            placeholder="Password"
            class="EnterPass auth-btn"
            name="password"
          />
          <br />
          <input id="submit-btn" type="submit" value="Submit" />
          <a id="forget-pass" href="#">forget password and user name </a>
        </form>
      </div>
    </section>
    <script src="./js/loader.js"></script>
  </body>
</html>
