<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
    <title>me.io</title>
  </head>
  <body>
    <section id="authentications">
      <div id="auth-body">
        <img src="/img/logo-taxt.png" alt="ME.oi logo" />

        <form method="post" id="auth-font" action="login">
          <input
            type="text"
            placeholder="User Name"
            class="userName auth-btn"
            name="username"
          />
          <input
            type="text"
            placeholder="Password"
            class="EnterPass auth-btn"
            name="password"
          />
          <br />
          <input id="submit-btn" type="submit" value="Submit" />
          <a id="forget-pass" href="#">forget password and user name </a>
        </form>
      </div>
    </section>
  </body>
</html>
